@font-face {
  font-family: "MyriadProRegular";
  src: url("fonts/MyriadProRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  background: #fff;
  font-family: "MyriadProRegular", sans-serif;
}

a {
  color: #6c6c6c;
  text-decoration: none;
}

.container {
  max-width: 1054px;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.header {
  background: url("Images/hdr/layer2-background.png");
  max-width: 1054px;
  margin: 0 auto;
  padding: 15px 15px 0;
}

.logo {
  float: left;
  padding: 10px 50px;
}

.main-nav {
  float: right;
  list-style-type: none;
  font-size: 20px;
  padding: 20px 50px 0;
}

ul.nav-list {
  margin: 0;
  padding: 10px 10px 0;
}

.nav-list li {
  display: inline-block;
  padding: 3px 13px;
}

.nav-list a:hover,
.nav-list li.active a {
  border-bottom: 3px solid #0000ff;
  padding-bottom: 30px;
  display: block;
}

.nav-list li.active a {
  cursor: auto;
}

.container_main {
  background: url("Images/banner/background.png");
  background-size: cover;
  padding: 30px 10px 30px 10px;
}

.container_main_img {
  float: left;
  width: 50%;
  padding-left: 100px;
}

.container_main_text {
  float: right;
  width: 50%;
  padding: 70px 30px;
  color: #fff;
  font-size: 26px;
  line-height: 1.7;
}

.title {
  font-size: 42px;
  line-height: 1;
  font-weight: 100;
  margin-bottom: -15px;
}

.signup-btn {
  background-color: #5094f2;
  color: #fff;
  font-size: 22px;
  padding: 7px 10px;
}

.signup-btn:before {
  content: "\2713";
  background-color: #fff;
  border-radius: 50%;
  color: #0000ff;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 1.4;
}

.signup-btn:hover {
  background: #6f7173;
}

.product_cards {
  background-color: #fff;
  background-size: cover;
  max-width: 1054px;
  margin: 0 auto;
  padding: 10px;
}

.contrary {
  color: #5094f2;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 0;
}

.text {
  text-align: center;
  color: #909090;
  font-size: 14px;
  line-height: 2;
  margin-top: 0;
}

.card {
  float: left;
  width: 33.33%;
  text-align: center;
  position: relative;
}

.card1::before {
  content: " ";
  display: table;
  background-color: #5094f2;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  margin: 50px 75px 15px 80px;
}

.img1 {
  display: block;
  position: absolute;
  top: 20%;
  left: 32%;
}

.card2::before {
  content: " ";
  display: table;
  background-color: #d94748;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  margin: 50px 75px 15px 80px;
}

.img2 {
  display: block;
  position: absolute;
  top: 20%;
  left: 30%;
}

.card3::before {
  content: " ";
  display: table;
  background-color: #ebbb11;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  margin: 50px 75px 15px 80px;
}

.img3 {
  display: block;
  position: absolute;
  top: 20%;
  left: 33%;
}

.shopping_cart {
  max-width: 1054px;
  margin: 0 auto;
  padding: 10px;
}

.cart_title {
  font-size: 42px;
  color: #6f7173;
  font-weight: 100;
  padding: 10px 80px;
  margin: 0;
}

.cart {
  float: left;
  width: 50%;
  padding: 0 70px;
  display: block;
}

.text_shopping {
  float: right;
  width: 50%;
  padding: 0 40px;
  font-size: 15px;
  color: #909090;
  line-height: 2.4;
}

.text_title {
  font-size: 26px;
  color: #6f7173;
  font-weight: 100;
  padding: 5px 20px;
  margin: -10px;
}

.footer {
  text-align: center;
  font-size: 15px;
  color: #909090;
  border-top: 1px solid #6f7173;
}
